/* -------------------- navbar section partial -------------------- */
body {
	overflow-x: hidden;
}
nav {
	z-index: 1; 
}
.dropdown {
	font-size: 1.5rem;
}
.navbar-custom {
	background-color: black;
}
#navbar-side-menu {
	background-color: black;
	height: 100%;
	position: fixed;
	margin-top: 56px;
	z-index: 2;
	left: -300px;
	width: 300px;
	transition: transform .2s;
}
.move {
	transform: translate3d(300px, 0px, 0px);
}
#navbar-side-menu a {
	display: block;
	padding: 10px 50px 10px 50px;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
	border: 1px solid black;
	transition: 0.4s;
}
#navbar-side-menu a:hover {
	border: 1px solid white;
}
#navbar-toggle {
	background-color: white;
	border-color: black;
	border-radius: 5px;
	height: 35px;
	width: 35px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#opaque {
	background-color: rgb(0,0,0,0.4);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	display: none;
}
#spacing {
	height: 100px;
}

/* --------------------- Index page -------------------- */
.home-page-title {
	margin-top: 100px;
	margin-bottom: 100px;
}
.calculator-card {
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: -2px 2px 5px #888888;
}
.home-page-image {
	width: 80%;
}
.home-page-button {
	width: 33%;
	height: 11%;
	border-radius: 5px;
	background-color: white;
	color: black;
	border: 2px solid black;
	transition: 0.2s;
}
.home-page-button a {
	color: black;
	text-decoration: none;
	width: 100%;
	height: 100%;
	font-size: 30px;
	transition: 0.2s;
	line-height: 100%;
}
.home-page-button:hover {
	background-color: black;
	color: white;
}
.home-page-button a:hover {
	color: white;
}
.home-page-button a span {
	vertical-align: middle;
}

/* --------------------- Transpose -------------------- */
.matrix-cell {
	border: 1px solid black;
}
.matrix-text-input {
	border: none;
	font-size: 20px;
}
.matrix-text-input:focus {
	outline: none;
}
.size, .compute-btn {
	margin-left: 20px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	color: black;
	transition: 0.4s;
}
.compute-btn {
	height: 40px;
	width: 100px;
}
.size:hover, .compute-btn:hover {
	background-color: black;
	color: white;
}

/* -------------------- rref -------------------- */
.solution {
	height: 75px;
	font-size: 20px;
}

/* -------------------- steps -------------------- */
.steps {
	max-width: 25%;
}

/* -------------------- Other -------------------- */
.test {
	border: 2px solid red;
}